.env
.env.*
.env.txt
şifre.txt
*.key
*.pem
secrets.txt

# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# Local uploaded/encrypted files
uploads/


# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
